.App {
  text-align: center;
}


.App-header {
  background-color: #a7e0a0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.magie {
  margin-left: 1%;
}

.bg {
  background-color: rgb(74, 198, 107);
  height:150vh;
}

h1 {
  text-align: center;
}

.button {
  transition-duration: 0.4s;
  width: 200px;
  height: 50px;
  font-size: 20px;
  border-radius: 12px;
}

.vegebutton:hover {
  background-color: #19ac1e; 
  color: white;
}

.protbutton:hover {
  background-color: #e7960a; 
  color: white;
}

.saucebutton:hover {
  background-color: #65c5d8; 
  color: white;
}

.removebutton:hover {
  background-color: #ff0000; 
  color: white;
  border-radius: 12px;
}

.div1 {
  width:33.33%;
  float: left;
}

.div2 {
  width:33.33%;
  float:right;
}

.div3 {
  width:33.33%;
  margin: 0 auto;
}

.mid {
  display: flex;
  align-items: center;
}

.reset {
background-color: red;
}

.reset:hover {
  background-color: rgb(209, 88, 88);
}

.checkout {
  background-color: #19ac1e;
}

.checkout:hover {
  background-color: #4b9c4e;
}

span {
  color: red;
}

.panier {
  background-color: #82ac83;
}

form {
  width: 30%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 5px;
}
label {
  font-weight: bold;
}
input[type="text"], input[type="email"], input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 4px;
}
input[type="submit"] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.black {
  color:black;
}